body {
    margin: 0;
    padding: 0;
}

page {
    width: 21cm;
    height: 29.7cm;
    padding: 0.5cm 2cm 1cm;
    display: block;
    page-break-after: always;
    position:relative;
    border: solid 1px #000000;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
