p {
    color: black;
    text-align: justify;
    text-indent: 1cm;
    font-size:15px;
    font-family:Verdana;
    width:100%;
    padding: 12px;
    margin-top:12px;
}

h1, h2 {
    text-decoration: underline;
}

h2{
    font-size:24px;
}

a:hover
{
   text-decoration: underline;
   color: red;
}

li{
    font-size:24px;
    font-family:Verdana;
}

img {
    max-width: 100%;
}

.glyphicon.glyphicon-arrow-down {
    font-size: 50px;
    text-align:center;
}

#page-1 h1 {
    color: grey;
    font-size: 50px;
    text-align:center;
}

#page-1 .logo {
    width: 10cm;
    display: block;
    margin: 5cm auto;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
